{% extends "template.html" %}
{% block title %} Terms {% endblock %}
{% block content %}
    <header class="terms text-white">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <ul>
                <li>Copyrighted material is not allowed to be downloaded.</li>
                <li>Files downloaded from YoutubeToMp4 are not allowed to be redistributed.</li>
                <li>All files are for your personal use only.</li>
              </ul>
            </div>
          </div>
        </div>
      </header>
{% endblock %}